<header class='navbar'>
    <div class='container'>
        <div id="logo" title="Back to Home">
            <a href="/">
                <span title="xiāo [adj]: light, ethereal" id='logo_xiao'>xiao</span>
                <span id='logo_di'>di</span>
                <span id='logo_li'>li</span>
            </a>
        </div>
        <nav>
            <a title="About me" class='nav_links' href="{{url}}/about">About</a>
            <a title="Articles and blog posts" class='nav_links' href="{{url}}/blog">Blog</a>
            <a title="Projects I've been working on" class='nav_links' href="{{url}}/projects">Projects</a>
        </nav>
    </div>
</header>
