<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eddie Li</title>
    {{#styles}}
    <link rel="stylesheet" href="{{url}}/{{.}}" type="text/css" media="all"/>
    {{/styles}}
    <link rel="stylesheet" href="{{url}}/css/default.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{url}}/css/assets.css" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
    @font-face {
        font-family: "DejaVuSansMono";
        src: url({{#asset}}DejaVuSansMono.ttf{{/asset}}) format("truetype");
    }
    </style>
    <link rel="icon" type="image/png" href="{{url}}/assets/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{url}}/assets/favicon-32x32.png" sizes="32x32">
    {{#analytics}}UA-81667559-1{{/analytics}}
    {{#scripts}}
    <script type="text/javascript" src="{{url}}/{{.}}"></script>
    {{/scripts}}
</head>
<body>
    <main class="assets">
{{{contents}}}
    </main>
</body>
</html>
