<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url}}/css/blog.css" type="text/css" media="all" />
    {{#include}}default_head_resources{{/include}}
</head>
<body>
    <div class='wrapper'>
        {{#include}}default_header{{/include}}
        <main>
            <div class="article_heading">
            <h1 class="title"><a href="{{url}}/blog/">Blog</a>/{{title}}</h1>
            <span class="metadata">by <span class="author">{{author}}</span>, on <span class="date">{{date}}</span></span>
            </div>
            {{{contents}}}
        </main>
    </div>
    {{#include}}default_footer{{/include}}
</body>
</html>
