<!DOCTYPE html>
<html lang="en">
<head>
    {{#include}}default_head_resources{{/include}}
    <link rel="stylesheet" href="{{url}}/css/notes.css" type="text/css" media="all" />
    <link rel="stylesheet" href="{{url}}/css/bookmark_ribbon.css" type="text/css" media="all" />
    {{#jquery}}{{/jquery}}
    <script type="text/javascript" src="{{url}}/js/scrolling_toc.js"></script>
</head>
<body>
    <div class='wrapper'>
        <main>
            {{{contents}}}
        </main>
    </div>
    {{#include}}default_footer{{/include}}
</body>
</html>
