@import 'colors';
@import 'dimensions';

$post_header_font: DejaVuSansMono,Monospace;

@media only screen 
and (max-width: $mobile_threshold)
and (-webkit-min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    //aggregate

    //h1 blog
    .title {
        line-height: 1.1em !important; //to mirror within the blog
    }
    section.blog_section {
        line-height: 1.3em;
        .post_title {
            display: block !important;
            margin-top: 1.2em !important;
        }
        p.description {
            -webkit-margin-before: 0.3em !important; 
        }
    }
    //within the blog
    .article_heading {
        .title {
            display: block !important;
            line-height: 1.1em !important;
        }
    }
    //common
    .metadata {
        font-size: xx-small !important;
        display: inline !important;
        padding: 0.2em !important;
    }

    figure.blog_figure {
        padding-bottom: 1em !important;
        padding-top: 1em !important;
        margin-bottom: 0px !important;
    }

    blockquote {
        padding: 5px 0px 5px 15px !important;
    }

}

//aggregated
section.blog_section {
    .post_title {
        display: inline-block;
        margin: 2px;
    }
    p.description {
        -webkit-margin-before: 0.5em;
    }
}

//within the blog
.article_heading {
    .title {
        display: inline-block;
        margin-bottom: 5px;
    }
    margin-bottom: 15px;
}

//common
.metadata {
    font-size: small;
    display:inline-block;
    .date {
        font-family: $post_header_font;
        color: $c2;
    }

    .author {
        font-family: $post_header_font;
        color: $c2;
    }
}

blockquote{
    display:block;
    padding: 5px 20px 5px 45px;
    margin: 0 0 20px;
    position: relative;

    /*Font*/
    text-align: justify;
  
    /*Borders - (Optional)*/
    border-left: 15px solid $c2;
    border-right: 2px solid $c2;

    .blockquote_quote {
        padding-right: 25px;
        font-style: italic;
    }

    .blockquote_author {
    }

}

figure.blog_figure {
    text-align:center;
    width: 100%;
    margin: 0px;
    margin-bottom: 0.5em;
    padding: 0px;
    padding-bottom: 1em !important;
    padding-top: 1em !important;
    img {
        text-align:center;
        width: 95%;
    }
    figcaption {
        font-style: italic;
        text-align: center;
    }
}

/*https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/*/
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub { 
    top: 0.4em; 
}
