@import 'colors';

$ribbon-bg: #bb3a34;
//$ribbon-hl: #e74841;
//$ribbon-bg: $c2;
$ribbon-hl: $c2;
$ribbon-w: 30px;
$ribbon-tail: 10px;

.bookmark {
    display: inline-block;
    float: right;

    .ribbon {
        padding:0 0 $ribbon-tail 0;
        position:absolute;
        width:$ribbon-w;

        div {
            background: $ribbon-bg;
            background: linear-gradient($ribbon-hl 0%, $ribbon-bg 100%);
            color:#fff;
            padding:0.2em 0;
            text-align:center;
            text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.5);
        }

        div:after {
            border-left: $ribbon-w/2 solid $ribbon-bg;
            border-right: $ribbon-w/2 solid $ribbon-bg;
            border-bottom: $ribbon-tail solid transparent;
            bottom:0;
            content:'';
            height: 0;
            left:0;
            position:absolute;
            width: 0;
        }
    }
}

