$c1: #1695A3; //blue
$c2: #EA2E49; //red
$c3: #F0F0F0; //white
$navbar_color: #374140; //dark grey
/*$footer_color: #dedede; //light grey*/
$footer_color: $c3; //light grey
$footer_font_color: #555555; //mid grey
