@import 'colors';

//h1 {
    //background: $navbar_color;
    //color: $c3;
//}

.toc {
    ol {
        list-style: none;
    }
    ol:first-child > li {
        margin-left: 0em;
    }
    ol:first-child {
        padding: 0;
    }
}

div.notes_footer {
    font-style: italic;
    height: 200px;
    text-align: center;
    display: table;
    span {
        code {
            font-style: normal;
        }
        vertical-align: middle;
        display: table-cell;
    }
};

#toc_scrolling {
    position: fixed;
    top: 30px;
    width: 200px;
    a {
        color: $greyed_out;
        text-decoration: none;
        &:visited {
            color: $greyed_out;
        };
    }
    code.mark {
        color: $c2;
        float: right;
        cursor: default;
    }
}

#mark_preview {
    font-family: "DejaVuSansMono", Monospace;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    padding: 0.2em;
    border: 1px solid $code_border;
    background: $code_background;
}

h2, h3 {
    display: inline;
}
